* {
    /* border: 2px solid black; */
}

.container {
    width: 400px;
}

.nav {
    height: 40px;
    margin-bottom: -16px;
    background-color: #2D3648;
    padding: 0 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    background-color: #1A1E2C;
}

.text {
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.button-contain {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.button {
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #436590;
    background-color: aquamarine;
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.circle-contain {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

div[role="progressbar"] {
    --size: 12rem;
    --fg: rgb(40, 252, 93);
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, #1A1E2C 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: white;
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage);
}